<div class="route-info-page inLeft">
    <div class="antet">
        <div class="logo-cfr">
        </div>

        <div class="contact">
            <!--<span>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Adresa: B-dul Dinicu Golescu, nr. 38, sector 1, cod 010873 Bucuresti - ROMANIA
            </span>-->
            <span>
                <i class="fa fa-fax" aria-hidden="true"></i> Fax: 021/319.03.39
            </span>
            <span>
                <i class="fa fa-envelope" aria-hidden="true"></i> E-mail: Calatori@cfrcalatori.ro
            </span>
            <span>
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i> Telverde - 0800.88.44.44
            </span>
            <span>
                <i class="fa fa-globe" aria-hidden="true"></i> www.cfrcalatori.ro
            </span>

        </div>

    </div>
    <div class="container card">
        <div class="col-xs-8 col-sm-10  route-info">
            <h1>Route {{serviceBrand}} {{serviceNumber}}</h1>
            <h2>{{serviceMode}}</h2>
        </div>
        <div class="col-xs-4 col-sm-2  route-info-date" (click)="showOpDays = !showOpDays">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{referenceLocalDateTime | date:'dd.MM.yyyy'}}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container no-padding">
        <button class="btn operatingDay" type="button" (click)="isCalendarCollapsed = !isCalendarCollapsed"
                aria-expanded="false" aria-controls="collapseExample">
            <span class="showtxt">Show</span><span class="hidetxt">Hide</span> operating days
        </button>

        <div [ngbCollapse]="isCalendarCollapsed" [ngClass]="{in : showOpDays}">
            <div class="well ">
                <!--<rtt-operating-calendar *ngIf="operatingSchedules"
                                         [operatingSchedules]="operatingSchedules"
                                         [selectedLocalDateTime]="referenceLocalDateTime">
                </rtt-operating-calendar>-->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rand head">
            <div class="no-padding-xs col-xs-8 col-sm-7 station">
                <div class="no-padding-xs col-xs-12 col-sm-8"><i class="fa fa-map-marker" aria-hidden="true"></i> Station</div>
                <div class="hidden-xs">
                    <div class="col-xs-6 col-sm-2 arrival">Arrival</div>
                    <div class="col-xs-6 col-sm-2 departure">Departure</div>
                </div>
            </div>
            <div class="no-padding-xs col-xs-4 col-sm-5 comment"><i class="fa fa-info" aria-hidden="true"></i> Info</div>
            <div class="clearfix"></div>
        </div>

        <div class="rand" *ngFor="let trainStop of trainStops">
            <div class="no-padding-xs col-xs-8 col-sm-7 station">
                <div class="no-padding-xs col-xs-12 col-sm-8"><strong>{{trainStop.stationName}}</strong></div>
                <div class="no-padding-xs col-xs-12 visible-xs dep-arr">
                    Arrival {{trainStop.arrivalLocalTime | minutesToTimeSpan}}
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    Departure {{trainStop.departureLocalTime | minutesToTimeSpan}}
                </div>
                <div class="hidden-xs">
                    <a class="col-xs-6 col-sm-2 arrival" [routerLink]="['/timetable/station-info',
                         trainStop.stationIndex,
                         'arrival',
                         referenceLocalDateTime.getTime()]">
                        <span class="visible-xs-inline">Arrival</span>
                        {{trainStop.arrivalLocalTime | minutesToTimeSpan}}
                    </a>
                    <a class="col-xs-6 col-sm-2 departure" [routerLink]="['/timetable/station-info',
                         trainStop.stationIndex,
                         'departure',
                         referenceLocalDateTime.getTime()]">
                        <span class="visible-xs-inline">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Departure
                        </span>
                        {{trainStop.departureLocalTime | minutesToTimeSpan}}
                    </a>
                </div>
            </div>
            <div class="no-padding-xs col-xs-4 col-sm-5 comment">Train continues as TGV 2852</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <ul>
            <li *ngFor="let fs of facilitySegments">
                {{fs.facilityType}} - {{fs.reservationCharacteristic}} ({{fs.originLocationName}} -> {{fs.destinationLocationName}})
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li *ngFor="let fs of pricingCategorySegments">
                {{fs.pricingCategory}} ({{fs.originLocationName}} -> {{fs.destinationLocationName}})
            </li>
        </ul>
    </div>
    <div class="container print-button"><a href="javascript:window.print()"><i class="fa fa-print" aria-hidden="true"></i> Print route</a></div>
</div>