 <ul>
     <li><a routerLink="/booking/home" routerLinkActive="active">Booking Home</a></li>
     <li><a routerLink="/booking/search" routerLinkActive="active">Booking Search</a></li>
     <li><a routerLink="/booking/select/journey" routerLinkActive="active">Booking Select Journey</a></li>
     <li><a routerLink="/booking/select/offer" routerLinkActive="active">Booking Select Offer</a></li>
     <li><a routerLink="/timetable" routerLinkActive="active">Timetable</a></li>
</ul>                  
<router-outlet></router-outlet>
